<?xml version="1.0" encoding="UTF-8"?>
<odoo>
		<record id="action_report" model="ir.actions.act_window">
			<field name="name">Analyses</field>
			<field name="res_model">product.supplier</field>
			<field name="view_mode">tree,form</field>
		</record>
		<menuitem id="menu_report" action="action_report"/>
</odoo>